footer {
    font-family: 'Times New Roman', Times, serif;
    font-size: x-small;
    display: flex;
    color: black;
    background-image: linear-gradient(to right, #009440, #009571, #009399, #008db1, #0085b8, #218cc0, #3392c7, #4199cf, #1db2e1, #00cbec, #00e3f1, #42fbef);
    justify-content: space-around;
    padding: 0.5rem;
}