* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    background-image: url(../img/veil.png);
    font-size: 100%;
    display: block;
}


ul {
    list-style-type: none;
    display: flex;
    background-color: transparent;
}

a {
    text-decoration: none;
    color: black;
    padding: 1rem 1.2rem;
}

img {
    width: 350px;
    padding-top: 2rem;
    margin: 1rem;
}